/*
 * TODO
 *
 * find a way to tell css to style g different from y (and so on)
 * be angry that css attr() only works for css content
 *
 */

body {
    width: 650px;
    margin: 0 auto;
}

h1, p {
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 40pt;
}

p {
    font-size: 18pt;
}

a {
    color: teal;
    text-decoration: none;
}
