/*
 * TODO
 *
 * find a way to inherit margin (dummy classes) so we can control :after from js
 * find a way to tell css to style g different from y (and so on)
 * be angry that css attr() only works for css content
 *
 *
 * colors? extend options?
 *
 */

/*
.underline-text {
    text-decoration: underline;
}
*/

.underline-text {
    position: relative;
}

.underline-text:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    left: 0;
    right: 0;
    bottom: 0.1em; // basically margin from bottom (i.e. not text..)
}
